mixin rateButton(icon, iconBorder, iconWrapClassName)
    if iconWrapClassName
        div(class="form-elements__rate " +iconWrapClassName)
            i(class="rating__icon") #{icon}
            i(class="rating__icon") #{icon}
            i(class="rating__icon") #{icon}
            i(class="rating__icon") #{icon}
            i(class="rating__icon") #{icon}
    else
        .form-elements__rate
            i(class="rating__icon") #{icon}
            i(class="rating__icon") #{icon}
            i(class="rating__icon") #{icon}
            i(class="rating__icon") #{icon}
            i(class="rating__icon") #{iconBorder}