include ../../header/logo/logo
include ../navigation/navigation

mixin footer()
    .footer__container
        section.footer__wrapper
            .footer__sidebar.footer__logo
                +logo('logo-footer')
                .sidebar__text We're brand strategy and digital design agency, building brands that matter in culture.
                .sidebar__social
                    img(class="social__item" src=require("assets/img/instagram.svg").default alt="instagram")
                    img(class="social__item" src=require("assets/img/facebook.png").default alt="facebook")
                    img(class="social__item" src=require("assets/img/github.svg").default alt="github")
                    img(class="social__item" src=require("assets/img/dribbble.png").default alt="dribbble")
                    img(class="social__item" src=require("assets/img/twitter.png").default alt="twitter")
            .footer__navigation
                +navigation('Services', 'Blog', 'Partner with freehand', 'Apps & Plugins', 'FAQ', 'UI Kit')
                +navigation('Company', 'About', 'Terms', 'Privacy Policy', 'Careers')
                +navigationImg('Contact us', 'We’re Always Happy to Help', 'mail@freehand.io', 'footer-image.png', 'footer-img.png')

        section.copyright
            p.copyright__text Copyright © 2020. Crafted with love.